<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.MDK_DBConnectionString" connectionString="Data Source=.\;Initial Catalog=MDK_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.MDK_DBConnectionString1" connectionString="Data Source=PNEITSH52343d;Initial Catalog=MDK_DB;User ID=iwebuser;Password=iwebuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>