<div ng-controller="BusinessUserManagementCtrl">

    <div class="row">
        <div class="col-md-5">
            <h2>Business User Management
            </h2>
        </div>


        <div class="col-md-2 pull-right">
            <a href="#/dashboard" class="btn  btn-sm mdkBTN" ng-bind="'Dashboard'" ng-click="" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Business Personal Information</h4>
                </div>
                <div class="panel-title">
                </div>
                <div class="panel-body" style="min-height: 511px;">
                    <form name="personalInfoForm" novalidate>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Does client have Business name?</strong>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="business" id="rdBusiness_Yes" value="Business_Yes" ng-model="isBusiness" ng-init="isBusiness='Business_Yes'">
                                            Yes
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <label class="radio-inline">
                                        <input type="radio" name="business" id="rdBusiness_No" value="Business_No" ng-model="isBusiness">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="row" ng-show="isBusiness=='Business_Yes'">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Business Name</label>
                                        <input type="text" class="form-control" id="Email7"
                                            placeholder="e.g. XYZ PVT LTD."
                                            ng-model="businessName"
                                            validation-field-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Business Type</label>
                                        <select
                                            name="drpBusinessType"
                                            class="form-control"
                                            ng-options="item as item for item in ['Propriotorship','Partnership','LLP','PVT LTD','LTD']"
                                            ng-model="businessType"
                                            validation-field-required="true"
                                            validation-dynamically-defined="locallyDefinedValidations">
                                            <option value="">-- select business type --</option>
                                        </select>

                                    </div>
                                </div>
                            </div>


                            <div class="row" ng-show="isBusiness=='Business_No'">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="txtFirstName" placeholder="first name" ng-model="firstName">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="middleName">Middle Name</label>
                                        <input type="text" class="form-control" id="txtMiddleName" placeholder="middle name" ng-model="middleName">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="lastName">Lastname</label>
                                        <input type="text" class="form-control" id="txtLastName" placeholder="last name" ng-model="lastName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="contactNumber">Contact Number</label>
                                        <input type="text" class="form-control" id="txtContactNumber" placeholder="e.g. 909-617-4175"
                                            ng-model="contactNumber"
                                            validation-field-required="true"
                                            validation-only-numbers="{message:'field contain only digits.', value: true}"
                                            validation-min-length="{message:'please enter 10 digit valid mobile number', value: 10}"
                                            validation-max-length="{message:'please enter Indian mobile number', value: 10}">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Alternate Number</label>
                                        <input type="text" class="form-control" id="txtAlternateNumber" placeholder="e.g. 986-022-2007"
                                            ng-model="alternateNumber"
                                            validation-field-required="true"
                                            validation-only-numbers="{message:'field contain only digits.', value: true}"
                                            validation-min-length="{message:'please enter 10 digit valid mobile number', value: 10}"
                                            validation-max-length="{message:'please enter Indian mobile number', value: 10}">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="emailId">Email Id</label>
                                        <input type="email" class="form-control" id="txtEmailId"
                                            placeholder="e.g. amit.debadwar@gmail.com" ng-model="emailId"
                                            validation-email="true"
                                            validation-field-required="true">
                                    </div>

                                </div>


                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Date Of Birth</label>
                                    <input type="date" class="form-control" id="txtDate" ng-model="DateOfBirth">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Address</label>
                                        <small class="formHelpText">(This address will be used for postal communication.)</small>
                                        <textarea class="form-control" rows="3" placeholder="please write your full address so that we can reach you out in time !"
                                            ng-model="businessAddress"
                                            validation-min-length="{message:'please provide the address in detail, so that we can reach you out.', value: 30}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary form-control" value="Save Personal Info" ng-click="savePersonalInfo()" />
                                    </div>
                                </div>

                                <div class="col-md-4 pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-default form-control" value="Reset" ng-click="clearPersonalInfo()" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="form-control-static"
                                            ng-class="{MDKSuccess:isBusinessInfoSaved,MDKError:!isBusinessInfoSaved}"
                                            data-ng-bind="personalRecordSavedMSG">
                                            Record saved successfully! 
                                        </p>
                                        <span ng-show="isBusinessInfoSaved">&nbsp;with&nbsp;<b style="color: blue;" ng-bind="businessID">JKKH45321221</b>&nbsp;Business ID. </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Bank Information</h4>

                </div>

                <div class="panel-title">
                    <div class="row" ng-if="isBusinessInfoSaved">
                        <div class="col-md-5 pull-right">
                            <h6><b>for</b>&nbsp<b ng-bind="businessID" class="businessGUID"></b></h6>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height: 510px;">

                    <form>
                        <!--ng-disabled="!isBusinessInfoSaved"-->
                        <fieldset ng-disabled="!isBusinessInfoSaved">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">Bank Name</label>
                                        <input type="text" class="form-control" id="Text1" placeholder="e.g. ICICI bank" ng-model="bankName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">Branch</label>
                                        <input type="text" class="form-control" id="Text2" placeholder="e.g. Shivaji nagar, Pune." ng-model="bankBranch">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <label for="firstName">Account Number</label>
                                        <input type="text" class="form-control" id="Text3" placeholder="e.g. ICICI bank" ng-model="bankAccountNumber">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">IFSC Code</label>&nbsp
                                        <span class="glyphicon glyphicon-info-sign info-question pull-right" aria-hidden="true"
                                            id="ifscInfo"
                                            data-toggle="tooltip"
                                            title="IFSC code is given on your bank's passbook." data-placement="left"></span>
                                        <input type="text" class="form-control" id="Text4"
                                            placeholder="e.g. ICICI9860057"
                                            ng-model="bankIFSCCode">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">MICR Code</label>&nbsp
                                        <span
                                            id="micrInfo"
                                            class="glyphicon glyphicon-question-sign info-question pull-right"
                                            aria-hidden="true"
                                            data-toggle="tooltip"
                                            title="Magnetic Ink Character Recognition Code (MICR Code) is a character-recognition technology used mainly by the banking industry to ease the processing and clearance of cheques and other documents."
                                            data-content="Magnetic Ink Character Recognition Code (MICR Code) is a character-recognition technology used mainly by the banking industry to ease the processing and clearance of cheques and other documents."
                                            data-placement="left"></span>
                                        <input type="text" class="form-control" id="Text5" placeholder="e.g. MICR77876" ng-model="bankMICRCode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6 pull-right">
                                    <div class="form-group">

                                        <input type="button" class="btn btn-primary form-control" value="Save Bank Info" ng-click="saveBankInformation()" />
                                    </div>
                                </div>

                                <div class="col-md-6  pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-default form-control" value="Reset" ng-click="clearPersonalInfo()" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="form-control-static MDKSuccess"
                                            ng-show="isBankInfoSaved"
                                            ng-bind="bankInfoSavedMSG"
                                            ng-class="{MDKSuccess:isBankInfoSaved,MDKError:!isBankInfoSaved}">
                                            bankInfo@gmail.com
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>


                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">IT Information</h4>
                </div>
                <div class="panel-title">
                    <div class="row" ng-if="isBusinessInfoSaved">
                        <div class="col-md-5 pull-right">
                            <h6><b>for</b>&nbsp<b ng-bind="businessID" class="businessGUID"></b></h6>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <form>
                        <fieldset ng-disabled="!isBusinessInfoSaved">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">PAN</label>
                                        <input type="text" class="form-control" id="Text6" placeholder="e.g. ANCPD5684N" ng-model="PAN">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">TAN</label>
                                        <input type="text" class="form-control" id="Text7" placeholder="e.g. TANB99887" ng-model="TAN">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">VAT</label>
                                        <input type="text" class="form-control" id="Text8" placeholder="e.g. VATB99887" ng-model="VAT">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">CST</label>
                                        <input type="text" class="form-control" id="Text9" placeholder="e.g. CST786786" ng-model="CST">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">PTEC</label>
                                        <input type="text" class="form-control" id="Text10" placeholder="e.g. PTRCB99887" ng-model="PTEC">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">PTRC</label>
                                        <input type="text" class="form-control" id="Text11" placeholder="e.g. PTEC99887" ng-model="PTRC">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary form-control" value="Save IT Info" ng-click="saveITInfo()" />
                                    </div>
                                </div>

                                <div class="col-md-4 pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-default form-control" value="Reset" ng-click="clearPersonalInfo()" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="form-control-static"
                                            ng-show="isITInfoSaved"
                                            ng-bind="iTInfoSavedMSG"
                                            ng-class="{MDKSuccess:isITInfoSaved,MDKError:!isITInfoSaved}">
                                            saveitinfo@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Other Information</h4>
                </div>
                <div class="panel-title">
                    <div class="row" ng-if="isBusinessInfoSaved">
                        <div class="col-md-5 pull-right">
                            <h6><b>for</b>&nbsp<b ng-bind="businessID" class="businessGUID"></b></h6>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="min-height: 300px;">

                    <form>


                        <fieldset ng-disabled="!isBusinessInfoSaved">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">Service TAX Number</label>
                                        <input type="text" class="form-control" id="Text12" placeholder="e.g. STAX876765" ng-model="serviceTaxNumber">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="firstName">Excise Number</label>
                                        <input type="text" class="form-control" id="Text13" placeholder="e.g. EXC111222" ng-model="exciseNumber">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="firstName">PFESI Number</label>
                                        <input type="text" class="form-control" id="Text14" placeholder="e.g. PF89767898" ng-model="PFESINumber">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary form-control" value="Save Other Info" ng-click="saveOtherInfo()" />
                                    </div>
                                </div>

                                <div class="col-md-6  pull-right">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-default form-control" value="Reset" ng-click="clearPersonalInfo()" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="form-control-static"
                                            ng-show="isOtherInfoSaved"
                                            ng-bind="otherInfoSavedMSG"
                                            ng-class="{MDKSuccess:isOtherInfoSaved,MDKError:!isOtherInfoSaved}">
                                            saveitinfo@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">Password Information</h4>
            </div>
            <div class="panel-body">

                <form>

                    <fieldset ng-disabled="!isBusinessInfoSaved">
  
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="UserID">User ID</label>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent">Income TAX</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text15" placeholder="enter income tax user id" ng-model="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text16" placeholder="enter income tax password" ng-model="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent">Sales TAX</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text17" placeholder="enter sales tax user id" ng-model="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text18" placeholder="enter sales tax password" ng-model="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent">NSDL</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text19" placeholder="enter NSDL user id" ng-model="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text20" placeholder="enter NSDL password" ng-model="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent">Service TAX</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text21" placeholder="enter service tax user id" ng-model="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text22" placeholder="enter service tax password" ng-model="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emptyComponent">Exise TAX</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text23" placeholder="enter exise tax user id" ng-model="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Text24" placeholder="enter exise tax password" ng-model="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <input type="button" class="btn btn-primary form-control" value="Save IT Info" ng-click="savePasswordInfo()" />
                                </div>
                            </div>

                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <input type="button" class="btn btn-default form-control" value="Reset" ng-click="clearPasswordInfo()" />
                                </div>
                            </div>

                        </div>

                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
