<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MDKConnectionString" connectionString="Data Source=.\;Initial Catalog=MDK_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    <add name="MDKConnectionString1" connectionString="Data Source=PNEITSH52343D;Initial Catalog=MDK_DB;Persist Security Info=True;User ID=iwebuser;password=iwebuser"
          providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>


    <services>
      <service name="Services.AdminServices.AdminServices" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""  binding="webHttpBinding" contract="Services.AdminServices.IAdminServices" bindingConfiguration="crossDomain"
                  behaviorConfiguration="web"></endpoint>
      </service>
      <service name="Services.BusinessServices.BusinessServices" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Services.BusinessServices.IBusinessServices" bindingConfiguration="crossDomain"
                  behaviorConfiguration="web"></endpoint>
      </service>

    </services>

    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true"  maxReceivedMessageSize="10485760" transferMode="Streamed"/>

      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true"  minFreeMemoryPercentageToActivateService="0"/>

  </system.serviceModel>


</configuration>
