<div ng-controller="LoginCtrl">

    <div class="row">
        <div class="col-md-3">
            <h2>Dashboard
            </h2>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5" style="min-height: 100px; min-width: 100px">

            <form>
                <div class="form-group">
                    <!--<label for="exampleInputEmail1">Task List</label>-->
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="write your task here to add!" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary col-md-3 pull-right" id="exampleInputPassword1" value="+ Add Task" />
                </div>
            </form>
            <br /><br />
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Data entry of MDK Comapny.</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Call to Mr. Uday</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Update document sheet.</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Call Mr. Kulkarni</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Calculate TAX details of Pandey.</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Call to Solanki</td>
                        <td class="text-center"><input type="checkbox" /></td>
                    </tr>

                </tbody>
            </table>


        </div>
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">

                    <h4 class="panel-title pull-left">Business Lines</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control pull-right" ng-model="searchLine" placeholder="search business lines by firstname/lastname or contact number" style="width: 70%;">
                        </div>
                    </form>
                </div>
                <div class="panel-title">
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Business Name</th>
                                <th>Contact Number</th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="record in businessLines | filter: searchLine">
                            <tr>
                                <td><a href="#" ng-bind="record.Pid"></a></td>
                                <td><a href="#"><span ng-bind="record.FirstName+' '+record.MiddleName +' ' +record.LastName"></span></a></td>
                                <td><a href="#" ng-bind="record.ContactNo | tel"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <!--Panel footer-->

                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
