<div ng-controller="LineDetailsCtrl">
    <div class="row">
        <div class="col-md-3">
            <h2 ng-bind="businessGUID"></h2>
        </div>

        <div class="col-md-9 pull-right">
            <div class="pull-right">
                <input type="button" class="btn  btn-sm" value="IT ACKN" style="background-color: #FFFFFF; border: 1px solid #2AABD2; color: #000" ng-click="showACKNSection()" />
                <input type="button" class="btn  btn-sm" value="26 AS" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="TAX Challan" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="Audit Report" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="Workbook" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
            </div>
        </div>
    </div>

    
    <div class="row" style="background: border-box;">


        <form class="form-inline  pull-right animated" ng-class="{fadeInDown:isShowACKNSection, fadeOutUp:!isShowACKNSection}">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="file" file-model="ACKNFile" class="form-control" />
                </div>
                <input type="button" ng-click="ACKNFileUpload()" class="btn btn-sm btn-default" value="Upload ITACKN" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" ng-disabled="!ACKNFile" />
                <input type="button" ng-click="hideACKNSection()" class="btn btn-sm btn-default" value="Close" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
            </div>
        </form>


        <form class="form-inline  pull-right" ng-show="isShow26ASSection">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="file" file-model="ACKNFile" class="form-control" />
                </div>
                <input type="button" ng-click="ACKNFileUpload()" class="btn btn-sm btn-default" value="Upload ITACKN" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" ng-disabled="!ACKNFile" />
                <input type="button" ng-click="isShowACKNSection=false" class="btn btn-sm btn-default" value="Close" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
            </div>
        </form>



    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">Personal Information</h4>
            </div>

            <div class="panel-body">
                <table class="table table- table-hover">

                    <tr>
                        <th>Business Id</th>
                        <td><a href="#" ng-bind="businessGUID"></a></td>
                    </tr>

                    <tr>
                        <th style="width: 40%">Business Name:</th>
                        <td ng-bind="businessName">ABC PV LTD.</td>
                    </tr>

                    <tr>
                        <th>Name:</th>
                        <td ng-bind="firstName+' '+middleName+' '+lastName">Amit Chandrakant Debadwar</td>
                    </tr>

                    <tr>
                        <th>Contact Number:</th>
                        <td ng-bind="contactNo | tel">+91 909-617-4175</td>
                    </tr>

                    <tr>
                        <th>Email ID:</th>
                        <td ng-bind="emailId">amit.debadwar@gmail.com</td>
                    </tr>

                    <tr>
                        <th>Date of Birth: </th>
                        <td ng-bind="dateOfBirth | date:'dd, MMM yyyy'">11, Jan 1985</td>
                    </tr>

                    <tr>
                        <th>Address: </th>
                        <td ng-bind="businessAddress">A4, Sahdev Avenues, Someshwarwadi, Pashan, Pune. 411321</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">Bank Details</h4>
            </div>
            <div class="panel-body" style="min-height: 367px;">
                <table class="table table- table-hover">
                    <tr>
                        <th>Bank Name: 
                        </th>
                        <td>State Bank Of India.
                        </td>
                    </tr>
                    <tr>
                        <th>Branch:    
                        </th>
                        <td>Mahavir society, Vazirabad, Nanded.
                        </td>
                    </tr>
                    <tr>
                        <th>Account Number:   
                        </th>
                        <td>9898-9898-9878-8987
                        </td>
                    </tr>
                    <tr>
                        <th>IFSC Code:    
                        </th>
                        <td>AVC898767
                        </td>
                    </tr>
                    <tr>
                        <th>MICR Code:    
                        </th>
                        <td>MICR786786
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>


    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">IT Information</h4>
            </div>

            <div class="panel-body">
                <table class="table table- table-hover">

                    <tr>
                        <th>PAN Number: </th>
                        <td>JFKD787656</td>
                    </tr>
                    <tr>
                        <th>TAN Number: </th>
                        <td>JFKD787656</td>
                    </tr>
                    <tr>
                        <th>VAT Number: </th>
                        <td>JFKD787656</td>
                    </tr>

                    <tr>
                        <th>CST Number: </th>
                        <td>JFKD787656</td>
                    </tr>
                    <tr>
                        <th>PTRC Number: </th>
                        <td>JFKD787656</td>
                    </tr>
                    <tr>
                        <th>PTEC Number: </th>
                        <td>JFKD787656</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <div class="panel panel-info" style="min-height: 331px;">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">Other Information</h4>
            </div>

            <div class="panel-body">
                <table class="table table- table-hover">

                    <tr>
                        <th>Service Tax Number: </th>
                        <td>AMVKD786577</td>
                    </tr>
                    <tr>
                        <th>Excise Number: </th>
                        <td>AMFKJD7907</td>
                    </tr>
                    <tr>
                        <th>PFESI Number: 
                        </th>
                        <td>PFESI786786
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding: 3px;">Documenets Download</h4>
            </div>

            <div class="panel-body">
                <input type="button" class="btn  btn-sm" value="IT ACKN" style="background-color: #FFFFFF; border: 1px solid #2AABD2; color: #000" />
                <input type="button" class="btn  btn-sm" value="26 AS" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="TAX Challan" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="Audit Report" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
                <input type="button" class="btn  btn-sm" value="Workbook" style="background-color: #FFFFFF; border: 1px solid #2AABD2;" />
            </div>
        </div>
    </div>
</div>

</div>
