h2
{
    color: #006598;
    font-style: italic;
}

body
{
    margin-left: auto;
    margin-right: auto;
    /*width: 90%;*/
}

.viewBody
{
    min-height: 70%;
    /*width: 85%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.mainHR
{
    background-color: orange;
    height: 1.1px;
}



.logo
{
    background-size: 100px 80px;
    display: inline-block;
    border: 0px solid green;
    margin-top: 2%;
}

    .logo .logoHeading
    {
        padding: 0px;
        /*margin-left: 100px;*/
        color: #006598;
        display: inline-block;
        font-style: italic;
        border: 0px solid green;
        font-weight: bold;
    }

.logoSubHeading
{
    font-family: BatangChe;
    color: #858585;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-family: Arial;
}


/*Login page CSS*/

.loginBox
{
    padding: 5% 2% 1% 2%;
    border: 1px solid gray;
    border-radius: 10px;
    width: 45%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
    background: #a0d8ef; /* Old browsers */
    background: -moz-linear-gradient(top, #a0d8ef 0%, #ddf1f9 65%, #feffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove
{
    transition: all linear 0.7s;
}

.animate-show.ng-hide
{
    line-height: 0;
    opacity: 0;
    padding: 10px 5px 0px 10px;
}
/* Login page css end */


/*Dashboard page css*/

.panel-title
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-info > .panel-heading
{
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.panel-body
{
    padding: 15px;
}

/*Dashboard page css*/

/*Dashboard page css END*/


/*Global*/
.formHelpText
{
    color: gray;
    font-weight: bolder;
}

.MDKSuccess
{
    color: green;
}

.MDKError
{
    color: red;
}

.businessGUID
{
    color: #006598;
    
}
/*Global END*/

.selectedUpperButton
{
    border: 1px solid orange!important;
}

.btn:hover
{
    border: 1px solid orange!important;
}

.downloadBTN
{
    background: url(../images/download.png) no-repeat;
    border: none;
    width: 33px;
}

    .downloadBTN:hover
    {
        border: none !important;
    }

.mdkBTN
{
    background-color: #FFFFFF;
    margin-left: 5px;
    border: 1px solid #2AABD2;
    color: #000;
     
}


.deleteBTN
{
    background: url(../images/invalid.jpg) no-repeat;
    border: none;
    width: 43px;
    height:43px;
}

    .deleteBTN:hover
    {
        border: none !important;
    }

.deduct_bot_margin {
    margin-bottom: 0px;
}


